@model NEVOLAplus.Data.Models.CMS.Page
@inject NEVOLAplus.Portal.Services.ITextSnippetService SnippetService

@{
    // Tytuł strony: "Page Details"
    ViewData["Title"] = await SnippetService.GetContentByKeyAsync("Page_Details_Title")
                       ?? "Details";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>@(await SnippetService.GetContentByKeyAsync("Page_EntityName_Label") ?? "Page")</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LinkTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LinkTitle)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Heading)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Heading)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DisplayOrder)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DisplayOrder)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PageId">
        @(await SnippetService.GetContentByKeyAsync("Page_Edit_Button") ?? "Edit")
    </a>
    |
    <a asp-action="Index">
        @(await SnippetService.GetContentByKeyAsync("Page_BackToList_Link")
            ?? "Back to List")
    </a>
</div>
