@model NEVOLAplus.Data.Models.Inventory.Asset
@inject NEVOLAplus.Portal.Services.ITextSnippetService SnippetService

@{
    // Tytuł strony:
    ViewData["Title"] = await SnippetService.GetContentByKeyAsync("Asset_Details_Title")
                       ?? "Asset Details";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>@(await SnippetService.GetContentByKeyAsync("Asset_EntityName_Label") ?? "Asset")</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PurchaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AssetType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AssetType.Description)
        </dd>
    </dl>
</div>
<div>
    @* Edycja wyłączona w Portalu *@
    @*<a asp-action="Edit" asp-route-id="@Model?.AssetId">
        @(await SnippetService.GetContentByKeyAsync("Asset_Edit_Button") ?? "Edit")
    </a> |*@
    <a asp-action="Index">
        @(await SnippetService.GetContentByKeyAsync("Asset_BackToList_Link") ?? "Back to List")
    </a>
</div>
